<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.sprungsolutions.sitorstart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".application.SitOrStartApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon,android:theme"
        android:icon="@drawable/sit_start_icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".player_list.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".TestMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".menu.MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".pick_player.PickPlayerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- <activity -->
        <!-- android:name=".SearchActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->


        <!-- </activity> -->

        <activity
            android:name=".player_list.PlayerWebView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b010c896e6646ae32a9badeac27206351aa358ab" />
    </application>

</manifest>